h1{
      animation: mover 1s ease-in-out infinite alternate;
      }
      @keyframes mover{
       from{
          transform: translateX(0);
          }
          to{
            transform: translateX(50px);}
            }
       body{
        font-family: Arial, sans-serif;
        margin: 0px;
        padding: 0px;
        background-color: #fffffff5;
        border: 20px solid  #052274;
    } 
    header {
    background-color: #052274;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
   text-align:  right;
   }
    .left{
        float: left;
        margin-right: 10px;
        }
        .right{
            float: right;
            margin-left: 10px;
            }
       main{
        margin: 20px;
    }
       h1{
        color:#333;
        text-align: center;
        margin-bottom: 10px;
        margin:10;
        padding: 10;
    }
       p{
        color: #333;
        margin-bottom: 50px;
        margin-right:80px;
        margin-left: 80px;
    }
       img{
        display: block;
        float: right;
        margin: 30px;
    }
    .img{
        margin-right: 10px;
        width: 60%;
        }
        .container{
        float: left 5px;
        display:flex;
        align-items: center;
        text-align: center;
        padding: 150px;
        overflow: auto;
        margin: 0;
        padding: 0;
        }
    .container img{
         margin-right: 0px;
            }
    .text{
        margin-left: 20px;
        margin-top: 10px;
       margin-bottom: 10px;
        float: left;
        width: 50%;
        word-wrap: break-word;
        margin: 10;
        padding: 0;
        }
    h3{
        padding: 50px;
        margin: 0;
        padding: 0;
        }  
        .contenedor-comentarios{
            display: flex;
        }
     .comentario{
        background-color: #f1f1f1;
        padding: 5px;
        border:100%;
        width: 600px;
        height: 600px;
        margin: 30px;
        border: 10px solid  #052274;
        margin-right:60px;
        overflow:auto;
        }
     .nombre{
        font-weight: bold;
        }   
    .contenido{
        color:#555;
        }
    .contenedor-titulos{
        display: flex;
        }
    .titulo{
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: 50px;  
        text-align: center;
        }
    .titulo:hover{
        transform:rotate(360deg);
        }
    .titulo::selection{
        background-color: #ffcc00;
        color: rgb(0, 0, 0);
        padding: 20px;
        }
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    }
    .social-bottons{
        display: inline-block;
        align-items:10px;
        margin-right: 5px;
        margin-left: 10px;
        }
    .social-bottons{
        margin-right: 5px;
        }    
    .menu {
            text-align: left;
        }
    .menu ul{
            list-style: none;
            margin:20px;
            padding: 20px;
        }
    .menu ul li{
            display: inline-block; 
        }
    .menu ul li a{
            color:  #052274;
            display: block;
            padding: 100px;
        } 
    .menu ul li a:hover{
        background-color: #002fff;
        color: #ccc;
    }    
